<turbo-stream action="update" target="modal">
    <template>
        {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.name, {
                    attr:{
                        class:"form-row"
                    }
                }) 
            }}
            {{ form_row(form.features, {
                    attr:{
                        class:"form-row"
                    }
                }) 
            }}
            <button type="submit" class="button">Valider</button>
        {{ form_end(form) }}
    </template>
</turbo-stream>