<turbo-frame id="LobbyList" class="flex flex-column flex-grow">
    <h2>Sessions Ouvertes</h2>
    <ul class="game-lobby-list">
        {% for game in games %}
            <li class="game-lobby-item">
                <span>
                    {{ game.name }}
                </span>
                <span>
                    {{ game.players|length }} / {{ game.maxPlayers }}
                </span>
                {% if game.userIsPlayer(app.user) %}
                    <a class="button"
                        data-turbo="false"
                        href="{{ path('app_game_join', {game: game.id}) }}">
                            Rejoindre
                    </a>
                {% else %}
                    <button {{ stimulus_action('modal', 'open') }}
                        class="button"
                        data-route="{{ path('app_game_join', {game: game.id}) }}">
                            Rejoindre
                    </button>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <twig:frameRefresh withText="true">
    </twig:frameRefresh>
</turbo-frame>
