
<turbo-frame id="PlayingBoard">
    <section class="game-board" >
        <div class="p-050">
            <h2>Scène Actuel</h2>
            <span>
                Temps estimé: <em>{{ currentScene.estimatedDuration ?? 0 -}}min</em>
            </span>
            <h3>
                Descriptif de la scène et de son but
            </h3>
            <p class="info-text">
                {{ currentScene.goal }}
            </p>
            {% if currentScene.leader %}
                <div class="flex gap-2">
                    {% if app.user == currentScene.leader.linkedUser and not currentScene.isStarted %}
                        <a
                            class="button"
                            href="{{ path('app_scene_edit', {scene: currentScene.id}) }}"
                            {{ stimulus_action('modal', 'open') }}
                        >
                            éditer la scène
                        </a>
                    {% endif %}
                    {% if app.user == currentScene.leader.linkedUser and currentScene.isStarted %}
                        <a
                            class="button"
                            href="{{ path('app_scene_close', {scene: currentScene.id}) }}"
                            {{ stimulus_action('modal', 'open') }}
                        >
                            Cloturer la scène
                        </a>
                    {% endif %}
                    {% if currentScene.isStarted %}
                        <a
                            class="button"
                            href="{{ path('app_scene_edit_my_scene_storie', {scene: currentScene.id, player: player.id}) }}"
                            {{ stimulus_action('modal', 'open') }}
                        >
                            Mon résumer de la scène
                        </a>
                    {% else %}
                        <twig:SceneReadyBtn player="{{ player }}"></twig:SceneReadyBtn>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="flex flex-column gap-2 p-100 flex-justify-center flex-align-center">
            {% if currentScene.leader %}
                {% if currentScene.isStarted %}
                    <div {{ stimulus_controller('scene-countdown') }}>
                        <p
                            {{ stimulus_target('scene-countdown', 'time') }}
                            data-date="{{ currentScene.estimatedDateEnd|date('Y-m-d H:i:s') }}">
                            Temps restant: <span id="SceneTimer">0</span>
                        </p>
                    </div>
                {% endif %}
                <ul id="Board" class="board" {{ stimulus_target('sortable-gameboard', 'board') }}>
                    {% for character in currentScene.characters %}
                        {% set isNotOwner = character.owner.linkedUser != app.user %}
                        <li class="{{ isNotOwner ? 'static' : '' }}"
                            data-route="{{ path('app_scene_update_character_presence', {
                            character: character.id,
                            scene: currentScene.id,
                            isPresent: 1,
                            }) }}"

                        >
                            <div class="character-wrapper">
                                <span class="character-token">
                                    <twig:RoleIcon roleValue="{{ character.owner.role.value }}" iconOnly="true"></twig:RoleIcon>
                                </span>
                                <span class="tooltip">
                                    {{ character.name }}
                                </span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="board-scene-flags flex gap-3">
                    <button class="button flag-red">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M480.25 156.355c0 161.24-224.25 324.43-224.25 324.43S31.75 317.595 31.75 156.355c0-91.41 70.63-125.13 107.77-125.13 77.65 0 116.48 65.72 116.48 65.72s38.83-65.73 116.48-65.73c37.14.01 107.77 33.72 107.77 125.14z"/></svg>
                        </button>
                    <button class="button flag-black">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M425.344 22.22c-9.027.085-18.7 5.826-24.344 19.405-11.143 26.803-31.93 59.156-58.563 93.47 10.57 8.694 19.85 18.92 27.5 30.31 35.1-26.57 68.882-46.81 98.125-56.75 44.6-15.16 12.02-69.72-35.343-35.343 26.91-27.842 11.107-51.27-7.376-51.093zm-341.22.03c-18.5.378-37.604 23.962-16.343 49.875C31.523 38.635-.802 85.48 37.095 102.813c28.085 12.844 62.54 35.66 99.062 64.343 8.125-12.5 18.207-23.61 29.78-32.937-26.782-35.743-48.44-69.835-61.78-98.47-4.515-9.69-12.22-13.66-20.03-13.5zm169.5 99.688c-67.104 0-121.31 54.21-121.31 121.312 0 44.676 24.04 83.613 59.905 104.656v56.406h18.718v-47.468c5.203 1.95 10.576 3.552 16.093 4.78v42.688h18.69v-40.03c2.614.167 5.247.25 7.905.25 2.637 0 5.25-.086 7.844-.25v40.03h18.686v-42.687c5.52-1.226 10.89-2.834 16.094-4.78v47.467h18.688V347.97c35.92-21.03 60-60.003 60-104.72 0-67.105-54.208-121.313-121.313-121.313zm-66.874 88.218c19.88 0 36 16.12 36 36s-16.12 36-36 36-36-16.12-36-36 16.12-36 36-36zm133.563 0c19.878 0 36 16.12 36 36s-16.122 36-36 36c-19.88 0-36-16.12-36-36s16.12-36 36-36zm-66.72 52.344l29.938 48.188h-59.874l29.938-48.188zm-107.28 70.563c-40.263 32.472-78.546 58.41-109.22 72.437-37.896 17.334-5.57 64.146 30.688 30.656-30.237 36.854 21.167 69.05 36.376 36.406 15.072-32.352 40.727-71.7 72.438-112.5-11.352-7.506-21.564-16.603-30.28-27zm213.156 1.718c-8.155 9.415-17.542 17.72-27.908 24.69 31.846 39.39 56.82 76.862 69.438 107.217 17.203 41.383 71.774 9.722 31.72-31.718 47.363 34.376 79.94-20.185 35.342-35.345-32.146-10.926-69.758-34.3-108.593-64.844z"/></svg>
                    </button>
                </div>
            {% else %}
                <p class="info-text">
                    Vous êtes actuelement dans l'entre scène. Vous êtes invité(e) à discuter entre vous de scènes possible avant de voter pour la scène que vous préférez en choisisant son joueur ou sa joueuse corespondante. Vous pouvez voter pour vous même.
                </p>
                <a class="button" href="{{ path('app_scene_leader_vote', {scene: currentScene.id}) }}"
                {{ stimulus_action('modal', 'open') }}>
                    Voter pour la prochaine scène
                </a>
            {% endif %}
        </div>
        <aside class="game-board-aside">
            <section>
                <header>
                    <h2>
                        Mes action possible
                    </h2>
                </header>
                <twig:Actions player="{{ player }}"></twig:Actions>
            </section>
        </aside>
    </section>
    <ul class="game-board-character-list" {{ stimulus_target('sortable-gameboard', 'characterList') }}>
        {% for character in unUsedCharacters %}
            <li data-route="{{ path('app_scene_update_character_presence', {
                character: character.id,
                scene: currentScene.id,
                isPresent: 0,
                }) }}">
                <div class="character-wrapper">
                    <span class="character-token">
                        <twig:RoleIcon roleValue="{{ player.role.value }}" iconOnly="true"></twig:RoleIcon>
                    </span>
                    <span class="tooltip">
                        {{ character.name }}
                    </span>
                </div>
            </li>
        {% else %}
            <span id="noCharacters">Vous n'avez pas de personnages à ajouter à la scène</span>
        {% endfor %}
    </ul>
</turbo-frame>
