{% extends 'base.html.twig' %}
{% block title %}
    - {{ game.name }}
{% endblock %}
{% block main %}
    <main class="site-main game-lobby">
        {{ block('body') }}
    </main>
{% endblock %}
{% block body %}
    <aside class="game-lobby-aside flex flex-column">
        <h1>{{ game.name }}</h1>
        <div>
            <h2>Thème</h2>
            <p>
                {{ game.subject }}
            </p>
        </div>
        <div class="flex flex-column"
            {{ stimulus_controller('mercure-listen', {
                mercureUrl: mercure('UpdateLoby'),
                mercureEventFlag: 'UpdateLoby',
            }) }}
        >
            <twig:lobbyPlayersList game="{{ game }}" player="{{ player }}">
            </twig:lobbyPlayersList>
        </div>
        {% if game.state.value == 'lobby' and player.linkedUser != game.author %}
            <a href="{{ path('app_game_leave', {game: game.id}) }}" class="button mt-auto">
                Quitter la partie
            </a>
        {% endif %}
    </aside>
    <section class="game-content" {{ stimulus_controller('mercure-listen', {
                mercureUrl: mercure('GameUpdated' ~ game.id),
                mercureEventFlag: 'GameUpdated' ~ game.id,
            }) }} >
        <twig:GameContent game="{{ game }}" player="{{ player }}">
        </twig:GameContent>
    </section>
{% endblock %}
