{% extends 'base.html.twig' %}
{% block title %}
    - {{ game.name }}
{% endblock %}
{% block main %}
    <main class="site-main game-lobby">
        {{ block('body') }}
    </main>
{% endblock %}
{% block body %}
    <aside class="game-lobby-aside flex flex-column">
        <h1>{{ game.name }}</h1>
        <div>
            <h2>Thème</h2>
            <p>
                {{ game.subject }}
            </p>
        </div>
        <div id="GameLobyList" {{ stimulus_controller('mercure-listen',{
            'mercureUrl':  mercure('UpdateLoby'),
            'mercureEventFlag':  'UpdateLoby',
        }) }} class="flex flex-column">
            <twig:lobbyPlayersList game="{{ game }}" player="{{ player }}">
            </twig:lobbyPlayersList>
        </div>
        {% if game.state.value == 'lobby' and player.linkedUser != game.author %}
            <a href="{{ path('app_game_leave', { game: game.id } ) }}" class="button mt-auto">
                Quitter la partie
            </a>
        {% endif %}
    </aside>
    {% if game.state.value == 'lobby' %}
        <turbo-frame 
            class="game-lobby-content" 
            id="Lobby" 
            src="{{ path('app_player_save_roles_preferences', { player: player.id }) }}"
        >
        </turbo-frame>
    {% endif %}
    {% if game.state.value == 'playing' %}
        <twig:tabs>
            <twig:block name="nav">
                <twig:tabsNavElement label="Partie en cours">
                </twig:tabsNavElement>
                <twig:tabsNavElement label="Ma Fiche">
                </twig:tabsNavElement>
                <twig:tabsNavElement label="Tous les Joueurs">
                </twig:tabsNavElement>
            </twig:block>
            <twig:block name="content">
                <twig:tabsContentElement label="Partie en cours" index="1">
                    <turbo-frame 
                        class="game-board-content" 
                        id="PlayingBoard" 
                        src="{{ path('app_game_board', { game: game.id }) }}"
                        {{ stimulus_controller('sortable-gameboard') }}
                    >
                    </turbo-frame>
                </twig:tabsContentElement>
                <twig:tabsContentElement label="Ma Fiche" index="0">
                    <turbo-frame 
                        class="game-lobby-content" 
                        id="Lobby" 
                        src="{{ path('app_player_save_roles_preferences', { player: player.id }) }}"
                    >
                    </turbo-frame>
                </twig:tabsContentElement>
                <twig:tabsContentElement label="Tous les Joueurs" index="0">
                    <turbo-frame 
                        class="game-lobby-content" 
                        id="ListPlayers" 
                        src="{{ path('app_game_list_players', { game: game.id }) }}"
                    >
                    </turbo-frame>
                </twig:tabsContentElement>
            </twig:block>
        </twig:tabs>
    {% endif %}
{% endblock %}