{% extends 'base.html.twig' %}
{% block title %}
    - {{ game.name }}
{% endblock %}
{% block main %}
    <main class="site-main game-loby">
        {{ block('body') }}
    </main>
{% endblock %}
{% block body %}
    <aside class="game-loby-aside">
        <h1>{{ game.name }}</h1>
        <div>
            <h2>Thème</h2>
            <p>
                {{ game.subject }}
            </p>
        </div>
        <div>
            <h2>Joueurs</h2>
            <ul>
                {% set emptySpot = game.maxPlayers - game.players.count %}
                {% for i in 1..emptySpot %}
                    {% if emptySpot != 0 %}
                        <li>
                            <span>
                               place libre
                            </span>
                        </li>
                    {% endif %}
                {% endfor %}
                {% for player in game.players %}
                    <li>
                        <span class="player-name {{ app.user == game.author ? 'game-author' : '' }}">
                            {{ player.name ?? player.linkedUser.username }}
                        </span>
                        {% if app.user == player.linkedUser %}
                            <span>
                            - moi
                            </span>
                        {% endif %}
                        {% if player.preferedRoles|length > 0 and not player.role  %}
                            <span>
                                roles choisits, en attente des autres joueurs
                            </span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </aside>
    <turbo-frame 
        class="game-loby-content" 
        id="Loby" 
        src="{{ path('app_player_save_roles_preferences', { player: player.id }) }}"
    >
    </turbo-frame>
{% endblock %}