<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body {{ stimulus_controller('modal') }}>
        <header class="site-header">
            <a class="site-logo" href="{{ path('app_home') }}">Accueil</a>
            {% if app.user %}
                <ul class="menu">
                    <li>
                        <twig:NewGameButton author="{{ app.user }}"></twig:NewGameButton>
                    </li>
                    <li>
                        <a class="button" href="">Historique de Jeu</a>
                    </li>
                </ul>
            {% endif %}
            <ul class="menu">
                {% if not app.user %}
                    <li>
                        <button {{ stimulus_action('modal', 'open') }} class="button" data-route="{{ path('app_login') }}">Connexion</button>
                    </li>
                    <li>
                        <a {{ stimulus_action('modal', 'open') }} class="button" href="{{ path('app_register') }}">Inscription</a>
                    </li>
                {% endif %}
                {% if app.user %}
                    <li>
                        <span>
                            {{ app.user.username }}
                        </span>
                    </li>
                    <li>
                        <a class="button" href="{{ path('app_logout') }}">Deconnexion</a>
                    </li>
                {% endif %}
            </ul>
        </header>
        {% block main %}
            <main class="site-main">
                {% block body %}{% endblock %}
            </main>
        {% endblock %}
        {{ include('_modal.html.twig') }}
        <footer class="site-footer">
            <a href="https://electric-goat.net">Electric Goat</a>
            <a href="https://electric-goat.net/products/4">Le jeu</a>
            <a href="https://twitch.tv/bloubill">Twitch Du dev</a>
        </footer>
    </body>
</html>
