<div {{ attributes }}>
    {% set activeTokenCount = initialFormData.sender.givenInfluenceToken.count %}
    {% block content %}
        <p>
            vous avez déjà envoyé(e) {{ activeTokenCount }} jeton d'influence sur le maximum de 3
        </p>
        {% if activeTokenCount > 0 %}
            <p>
                vous les avez donnés à :
            </p>
            <ul>
                {% for influenceToken in initialFormData.sender.givenInfluenceToken %}
                    <li>
                        {{ influenceToken.receiver.linkedUser.username }} - {{ influenceToken.receiver.role.label }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if activeTokenCount < 3 %}
            <div>
                {{ form_start(form, {
                    attr: {
                        'data-action': 'live#action:prevent',
                        'data-live-action-param': 'save',
                    },
                }) }}
                    {{ form_errors(form) }}
                    {{ form_label(form.receiver) }}
                    <div class="flex">
                        {{ form_widget(form.receiver) }}
                        <button type="submit" class="button">Valider</button>
                    </div>
                    {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        {% else %}
            <div>
                <p>Vous avez déjà donné(e) tout vos jetons d'influence</p>
            </div>
        {% endif %}
    {% endblock %}
</div>
