<div {{ attributes }}>
    {% block content %}
        <div>
            {% if not player.game.radianceLimitReached %}
                {{ form_start(form, {
                    attr: {
                        'data-action': 'live#action:prevent',
                        'data-live-action-param': 'save',
                    },
                }) }}
                    {{ form_errors(form) }}
                    {{ form_label(form.actionSuffer) }}
                    <div class="flex">
                        {{ form_widget(form.actionSuffer) }}
                        <button type="submit" class="button">Valider</button>
                    </div>
                    {{ form_rest(form) }}
                {{ form_end(form) }}
            {% else %}
                <span>
                    Tout les jetons d'éclat on été distribués
                </span>
            {% endif %}
        </div>
    {% endblock %}
</div>
