<div {{ attributes }}>
    {% block content %}
        {% if actionTokens > 0 %}
            <div>
                {{ form_start(form, {
                    attr: {
                        'data-action': 'live#action:prevent',
                        'data-live-action-param': 'save',
                    },
                }) }}
                    {{ form_errors(form) }}
                    {{ form_label(form.actionObtain) }}
                    <div class="flex">
                        {{ form_widget(form.actionObtain) }}
                        <button type="submit" class="button">Valider</button>
                    </div>
                    {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        {% else %}
            <div>
                <p>Vous n'avez plus de jetons d'action</p>
            </div>
        {% endif %}
    {% endblock %}
</div>
